@font-face {
    font-family: Oswald Regular;
    src: url(fonts/Oswald-Regular.otf);
}
@font-face {
    font-family: Oswald Light;
    src: url(fonts/Oswald-Light.otf);
}
@font-face {
    font-family: Roboto Condensed Ligth;
    src: url(fonts/RobotoCondensed-Light.ttf);
}

h1{
    font: Oswald Regular;
    background-color: white;
    color: red;
}
h3{
    font-size: 30px;
}
span{
    font: Oswald Ligth;
    text-align: center;
    color: black;
}
footer{
    height: 20%;
    margin: 5%;
    text-align: center;
    color: cadetblue;
}
ul{
    padding-left: 5%;
}
li{
    padding-left: 0%;
}
.header{
    height: 20%;
    margin: 5%;
    align-items: center;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
}
.block{
    width: 33.33%;
}
.content{
    padding: 8%;
    color: white;
    font-family: Roboto Condensed Ligth;
    text-align: justify;
}