html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',Arial, sans-serif;
  }

/*Barra de navegacion*/
.nav{
    height: 6%;
    line-height: 24px;
    color: rgba(0,0,0,.87);
}

.nav2{
    margin-right: 6px;
    padding: 10px;
    display: flex; 
    float: right;
    
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;

&:visited{
            color: rgba(0,0,0,.87);
        }
}
  
.txt{
    font-size: 13px;
}
.txt a{
    margin-right: 10px;

    &:hover{
        text-decoration: underline; 
    }
}

.icon_app{
    display: flex;
}
.icon_app a {
    margin-left: 8px;
    padding: 4px;
    display: flex;
    justify-content: center;
    border-radius: 50%;    
    border: 4px solid white;

    &:hover{   
        border: 4px solid lightgrey;
        background: lightgrey;
    }
}

a.mail_btn{   
    padding: 5px 12px;
    font-size: 18px;
    color: white;
    background: grey;

    &:hover{
        background: grey;
    }
}


/*Logo de Google*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29.9%;
}
.imagen{
    margin-top: auto;
    max-height: 92px;
    position: relative;
}
.imagen img{
    
    object-fit: contain;
    object-position: center bottom;
}


/*Busqueda y botones*/
.busc{
    height: 14%; 
    
    padding-top: 18px;
}

.busc2{
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}

.busc_bar{
    display: flex;
    align-items: center;
    width: auto;
    max-width: 584px;
    min-height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    object-fit: contain;
    object-position: center;
}

.busc_bar span{
    width: 4%;
    color: grey; 
    font-size: 20px;
    padding: 13px;
}
.busc_bar textarea{
    height: 17px;
    width: 400px;
    overflow:hidden;
    resize: none;
    padding-top: 5px;
    border-width: 0px;
    font-size: 16px;
    outline: none;
}

.busc_bar img{
    padding-left: 55px;
    
    padding-top: 5px;
    width: 60px;
}

.busc_btn{
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.busc_btn button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 18px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover{   
        border-color: lightgrey;
    }
}


/*Lenguaje*/
.lang{
    text-align: center;
    font-size: 13px;
    font-family: arial,sans-serif;
    height: 37.6%;
}
.lang2{  
    color: #4d5156;
    display: inline-block;
    line-height: 28px;
}

.lang2 a{  
    padding: 0 3px;
    color: #1a0dab;
    
    & :hover{
        text-decoration: underline;
    }
}

/*Pie de pagina*/
.foot{
    height: 10%;
}

.foot2{
    
    background: #f2f2f2;  
}
.stat{ 
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.link{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.link a{
    font-size: 14px;
    color: #70757a;
    padding: 10px;
    white-space: nowrap;
}